
.row {
    display: grid;
    grid-template-columns: 0.5fr .75fr .75fr .75fr 1fr .75fr .5fr;
    border-bottom: 0.25px solid #ECECEC;
    padding: .5rem 0;
    font-size: 12px;
    align-items: center;
    width: 100%;
}

.row input {
    margin-left: 2rem;
}

.woo-link {
    color: #2f53f5;
}